.hero {
  position: relative;
  height: 100vh;
  background: white;
  color: black;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  transition: all 0.6s ease;
}
.hero__mobile--btn {
  display: none;
}

.hero__description {
  position: absolute;
  bottom: 60px;
  left: 5%;
  max-width: 400px;
  z-index: 2;
}

.hero__triangle {
  position: absolute;
  top: 0;
  height: 100%;
  width: 450px;
  z-index: 1;
}

.hero__triangle.left {
  left: -40px;
  transition: all 0.5s ease;
  transform-origin: left center;
}

.hero__triangle.right {
  right: -40px;
}

.hero__triangle polygon {
  fill: white;
  stroke: #d3d4d6;
  stroke-width: 0.2;
  stroke-dasharray: 0.3 0.3;
  stroke-linecap: round;
}

.hero__triangle__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.hero__triangle__btn.left {
  left: 80px;
  transition: transform 0.5s ease, opacity 0.4s ease;
  transform-origin: left center;
}

.hero__triangle__btn.right {
  right: 80px;
  transition: transform 0.5s ease, opacity 0.4s ease;
  transform-origin: right center;
}

.hero__triangle__btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  z-index: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hero__triangle__btn polygon {
  fill: black;
  stroke: #d3d4d6;
  stroke-width: 0.2;
  stroke-dasharray: 0.3 0.3;
  stroke-linecap: round;
}

.hero h1 {
  font-size: 100px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -1px;
}

.hero p {
  margin: 20px 0;
  color: #6b7280;
  font-size: 16px;
}

.btn {
  padding: 12px 22px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.hero__triangle__box {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #d3d4d6;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: 45deg;
}

.hero__triangle__btn.left .hero__triangle__box {
  left: -50px;
}

.hero__triangle__btn.right .hero__triangle__box {
  right: -50px;
}

.primary {
  background: transparent;
  color: black;
}

.secondary {
  background: transparent;
  color: black;
  border: none;
}


/* HOVER INTERACTIONS */


.hero:has(.hero__triangle__btn.right:hover) .hero__triangle.left {
  transform: scaleX(0);
  opacity: 0;
}

.hero:has(.hero__triangle__btn.right:hover) .hero__title {
  left: 5%;
  transform: translateY(-50%);
  text-align: left;
}

.hero:has(.hero__triangle__btn.right:hover) .hero__triangle__btn.left {
  transform: scaleX(0);
  opacity: 0;
}

.hero:has(.hero__triangle__btn.left:hover) .hero__triangle.right {
  transform: scaleX(0);
  opacity: 0;
}

.hero:has(.hero__triangle__btn.left:hover) .hero__triangle__btn.right {
  transform: scaleX(0);
  opacity: 0;
}

.hero:has(.hero__triangle__btn.left:hover) .hero__triangle__btn.right .hero__triangle__box {
  transform: scale(0);
  opacity: 0;
}

.hero:has(.hero__triangle__btn.left:hover) .hero__title {
  left: 95%;
  transform: translate(-100%, -50%);
  text-align: right;
}


/* MOBILE LAYOUT */


@media (max-width: 992px) {

 
  .hero__triangle,
  .hero__triangle__btn {
    display: none;
  }

  .hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__mobile-squares {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 260px;
    height: 260px;
    transform: translate(-50%, -50%);
  }

  .hero__square {
    position: absolute;
    width: 420px;
    height: 420px;
    border: 1px dotted grey;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    pointer-events: none;
  }

  .hero__square--bottom {
    width: 340px;
    height: 340px;
  }


  .hero__title h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
    z-index: 2;
    font-size: 70px;
    line-height: 1.1;
  }


  .hero__description {
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    z-index: 2;
  }

 
  .hero__mobile--btn {
    position: absolute;
    top: calc(50% + 110px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;

    display: flex;
    align-items: center;
    gap: 6px;

    background: transparent;
    font-size: 10px;
    cursor: pointer;
  }


  .hero__mobile--btn .triangle__box {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }

  .hero__mobile--btn .triangle__box svg {
    width: 70%;
    height: 70%;
  }

}

@media (max-width: 576px) {
  .hero__title h1 {
    font-size: 50px;
  }
  
  .hero__square {
    position: absolute;
    width: 220px;
    height: 220px;
    border: 1px dotted grey;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    pointer-events: none;
  }

  .hero__square--bottom {
    width: 140px;
    height: 140px;
  }
  .hero__mobile--btn {
    margin-top: 15px;
  }
}